<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Przepisy Internetu - Strona główna</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>


</head>
<body>
    <div class="container" style="margin: 0px; padding: 5px; max-width: 100%;">
        <div class="row" style="margin-left: 50px; margin-right: 50px; padding: 10px;">
            <div class="col-sm" style="display: flex;">
                <img src="/img/ico_logo.png" style="width: 110px;"/>
                <span id="site-title"><a id="site-title-link" href="/index">Przepisy Internetu</a></span>
                <ul style="display: inherit">
                    <li><span class="menu-link"><a href="/recipes">Przepisy</a></span></li>
                    <li th:if="${userId == null}"><span class="menu-link"><a href="/login">Zaloguj</a></span></li>
                    <li th:if="${userId == null}"><span class="menu-link"><a href="/register">Rejestracja</a></span></li>
                    <li th:if="${userId != null}"><span class="menu-link"><a href="/logout">Wyloguj</a></span></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-sm" style="padding: 10px; background: #f5efe0; box-sizing: border-box;">
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <img src="/img/index-image.jpg" style="width: 100%; padding: 20px;">
            </div>
            <div class="col-sm">
                <p style="height: 100%; font-size: 20px; margin-top: 50px; padding: 10px;">
                    Na naszej stronie znajdziesz najlepsze przepisy przygotowane i zrecenzowane przez naszą społeczność.
                    Dołącz do nas i razem stwórzmy wielki kulinarny świat! <a th:if="${userId == null}" style="color: #ef5b62;" href="/register">ZAREJESTRUJ SIĘ</a>
                </p>
            </div>
            <div class="col-sm">
                <img src="/img/index-image-right.jpeg" style="width: 100%; padding: 20px;">
            </div>
        </div>
        <div class="row" style="padding: 10px; background: #f5efe0; box-sizing: border-box;">
            <div class="col-sm">
            </div>
            <div class="col-sm">
            </div>
            <div class="col-sm" style="font-size: 12px; text-align: right;">
                Przepisy Internetu © 2020 Sebastian Nazaruk
            </div>
        </div>
    </div>

</body>
</html>